/*CSS*/

body{
	margin: 0;
  background-color: #131313;
  font-family: sans-serif;
}

 img.thisisjuan {
     width: 80px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4vw;
}

 .buttons {
     display: flex;
     align-items: center;
}

button.icons {
  background: none;
  border: none;
  outline: none;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

button:hover {
    background: #000;
    border-radius: 1rem;
}

a {
  color: white;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
