/*CSS*/

@font-face {
	font-family: Sligoil;
	src: url("assets/Sligoil-Micro.otf");
}

body{
  font-family: Sligoil, monospace;
	margin: 0;
  background-color: hsl(17, 98%, 48%);
  color: #FFF;
}

 img.thisisjuan {
     width: 80px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4vw;
}

 .buttons {
     display: flex;
     align-items: center;
}

button.icons {
  background: none;
  border: none;
  outline: none;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

button:hover {
    background: hsl(17, 98%, 40%);
    border-radius: 1rem;
}

a {
  color: white;
}

.p5Canvas {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);  
}
