/*CSS*/

body{
	margin: 0;
  background-color: black;
  font-family: sans-serif;
}

header {
  padding: 3rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

a {
  color: white;
}

button {
  background: none;
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
